/* ==========================================================================
    Base Styles
   ========================================================================== */




// Colours

$black:                 #2B3033;
$white:                 #fff;

$grey:                  #8F99A5;
$light-grey:            #F5F5F5;
$border-grey:           #D8D8D8;

$blue:                  #3690B1;
$dark-blue:             #2E7A96;

$link-color:        $blue;
$link-hover:        lighten($link-color, 14%);
$link-active:       darken($link-color, 10%);



// Mixins
@mixin box-grey-gradient {
  background-image: -o-linear-gradient(94deg, rgba(255,255,255,0.04) 0%, rgba(226,226,226,0.04) 46%, rgba(0,0,0,0.04) 100%);
  background-image: -moz-linear-gradient(94deg, rgba(255,255,255,0.04) 0%, rgba(226,226,226,0.04) 46%, rgba(0,0,0,0.04) 100%);
  background-image: -webkit-linear-gradient(94deg, rgba(255,255,255,0.04) 0%, rgba(226,226,226,0.04) 46%, rgba(0,0,0,0.04) 100%);
  background-image: -ms-linear-gradient(94deg, rgba(255,255,255,0.04) 0%, rgba(226,226,226,0.04) 46%, rgba(0,0,0,0.04) 100%);
  background-image: linear-gradient(4deg, rgba(255,255,255,0.04) 0%, rgba(226,226,226,0.04) 46%, rgba(0,0,0,0.04) 100%);
}