/* ==========================================================================
    Base Styles
   ========================================================================== */




// Colours

$black:                 #2B3033;
$white:                 #fff;

$grey:                  #8F99A5;
$light-grey:            #F5F5F5;
$border-grey:           #D8D8D8;

$blue:                  #3690B1;

$link-color:        $blue;
$link-hover:        lighten($link-color, 14%);
$link-active:       darken($link-color, 10%);
