%h1.article-header
  = link_to article.title, article
.post-meta
  .post-avatar
    = avatar_for(article.data.author)
  .post-meta-text
    %span By #{author_link(article.data.author)} on
    %time #{article.date.strftime('%e %B %Y')}