%header
  .header-inner
    .logo
      Novosco Tech Blog
    %nav
      %ul
        %li
          = link_to  "Home", "http://novosco.com/"
          = link_to  "Tech Blog", "http://tech.novosco.com/"
          = link_to  "Company Blog", "http://novosco.com/blog"