%header
  .header-inner
    .logo
      Novosco Tech Blog
    .header-nav
      %nav
        %ul
          %li
            = link_to  "Home", "http://novosco.com/"
          %li
            = link_to  "Tech Blog", "http://tech.novosco.com/"
          %li
            = link_to  "Company Blog", "http://novosco.com/blog"