%header
  .header-wrapper
    .header-inner
      = link_to "<span class='logo'>Novosco Tech Blog</span>".html_safe, "/"
      .header-nav
        %nav
          %ul
            %li
              = link_to  "Home", "http://novosco.com/"
            %li
              = link_to  "Tech Blog", "/"
            %li
              = link_to  "Company Blog", "http://blog.novosco.com/"