%a.twitter-timeline{"data-dnt" => "true",  "data-link-color" =>"#FFF", "height" => "320px", "data-chrome" => "transparent", "data-theme" => "light", "data-widget-id" => twitter_widget_id, href: "https://twitter.com/#{twitter_id}"} Tweets by @#{twitter_id}
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

