.banner
  .layout-wrapper
    .layout-inner
      %h1 THE TAG

.container

  #main
    .articles
      %section.articles-recent
        %h1.small-h1 Recent Articles
        = partial "shared/article_list", :locals => { :articles => blog.articles }

    = partial "shared/sidebar"
